.bundle
.cache
.DS_Store
.sass-cache
build/

it 'displays cv' do
  visit '/'

  expect(page).to have_css '.cv'
  within '.cv' do
    expect(page).to have_content 'Curriculum Vitae'
    expect(page).to have_content 'Professional experience'
    expect(page).to have_content 'Education'
    expect(page).to have_content 'Courses'
  end
end
end
