body {
  background-image: url("https://static.pexels.com/photos/373076/pexels-photo-373076.jpeg");
  background-color: #3933FF;
  background-size: cover;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center; }

.projects {
  text-align: center;
  font-family: ""; }

.cv {
  text-align: center;
  color: #3390FF; }

.about_me {
  background-color: tomato;
  color: white;
  padding: 10px; }
